body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 3.3em;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  color: #5d84b6;
}

h3 {
  font-size: 1.3em;
  color: #f84e4a;
  text-align: center;
}

p {
  font-size: 1em;
  text-align: justify;
  text-indent: 2em;
}

a {
  font-size: 1.3em;
  color: #5d84b6;
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  text-align: center;
  padding: 15px;
}

ul li {
  display : inline-block;
  text-align: center;
}
ul li:hover {
  background-color: #D2F4F7;
}

#header {
  margin: auto;
  padding: 10px;
  width: 100%;
  background: linear-gradient(275deg, #95cdd4, #11426f, #6769a4);
}
#header p {
  color: white;
  font-size: 1.3em;
  text-align: center;
}

#navbar {
  display: flex;
}

.today {
  font-size: 1.2em;
  color: #FFDC00;
}

/* FLEXBOX Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

.row {
  display: flex;
  flex-wrap: wrap-reverse;
}

.right_side {
  flex: 30%;
  background-color: #F1F1F1;
  padding: 20px;
}

.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.content {
  position: relative;
  width: 50%;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(30,144,255, 0.5);
}
.content:hover .overlay {
  opacity: 1;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text h4 {
  color: white;
  font-size: 3em;
  width: 500px;
}
.text p {
  color: white;
  font-size: 1.2em;
  width: 500px;
  font-style: italic;
}
.text span {
  color: #FFBB00;
  font-size: 1.5em;
  width: 500px;
}


/* form */

#form {
  display: flex;
  margin: auto;
}

.contact {
  margin: auto;
  padding: 30px;
  min-width: 200px;
  max-width: 600px;
  height: auto;
}

#contact {
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
#contact:hover {
  background-color: #4187ed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
}
#contact:hover h3 {
  color: white;
}
#contact:hover {
  color: white;
}

input {
  width: 100%;
  margin: 3px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFBB00;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-color: #FFBB00;
}
